.counterBox {
    width: 100px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 8px;
    box-shadow: 10px 12px 5px 0px rgba(229,229,229,0.15);
}

.activeButtonInfo {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    font-family: Ubuntu;
    font-weight: bold;
    color: lawngreen;
    box-shadow: 10px 12px 5px 0px rgba(229,229,229,0.15);
}

.inactiveButtonInfo {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    font-family: Ubuntu;
    font-weight: bold;
    color: #aeb3a8;
    box-shadow: 10px 12px 5px 0px rgba(229,229,229,0.15);
}


.divider {
    display: flex;
    width: 100px;
    height: 1px;
    background-color: rgba(234, 231, 231, 0.4);
}

.displayBox {
    display: flex;
    justify-content: center;
    width: 100%;
}

.operatorIcon {
    font-size: 24px;
    font-weight: bolder;
    color: rgba(0,0,0,0.4);
}
